{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/styles/contactView.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
<div id="contactView">
    <ul id="contactViewList ">
        <li class="listElement"><img class="contactIcons" src="{{ asset('/assets/icons/001-user.svg')  }}" alt="userIcon"><h2 class="display-6">{{ contact.name }} {{ contact.surname }} , {{ contact.age }} años </h2></li>
        <li class="listElement"><img class="contactIcons" src="{{ asset('/assets/icons/002-mail.svg') }}" alt="emailIcon"><h2 class="display-6">{{ contact.email }}</h2></li>
        <li class="listElement"><img class="contactIcons" src="{{ asset('/assets/icons/001-phone-call.svg') }}" alt="telephoneIcon"><h2 class="display-6">{{ contact.telephone }}</h2></li>
        <li class="listElement"><img class="contactIcons" src="{{ asset('/assets/icons/003-notes.svg') }}" alt="scheduleIcon"><h2 class="display-6">{{ contact.schedule }}</h2></li>
        <li class="listElement mt-4">  <a id="backLink" href="{{ path('schedule' , {schedule : contact.schedule} ) }}" >
                <img class="contactIcons" src="{{ asset('/assets/icons/backIcon.svg') }}" alt="backIcon">
            </a></li>
    </ul>
    <div id="backButton">

    </div>



</div>
{% endblock%}